h1
{
    background-color: rgb(123, 125, 120);
    text-align: center;
}
p
{
    background-color:rgb(120, 125, 115)!important ;
    font-size: 30px;
    color: black!important;

}

#id1 li ul li{display: none;}
#id1 li:hover ul li{display: block;}
#id1 li:hover ul li ul li{display: none;}
#id1 li ul li:hover ul li{display: block;} 
#id1 li ul li:hover ul li ul li{display: none;}
#id1 li ul li:hover ul li ul li{display: block;} 
  